.ads {
  flex: 3;
}

.aboutMeAbove {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutMeContainer {
  display: flex;
}

.aboutMeOne {
  flex: 9.5;
}

.aboutMeCover {
  height: 200px;
}

.aboutMeCoverImg {
  width: 100%;
  object-fit: cover;
}

.aboutMeCoverProfile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  top: 150px;
  object-fit: cover;
  border: 3px solid white;
}

.aboutMeInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.aboutMeInfoName {
  font-size: 24px;
  text-transform: capitalize;
}

.aboutMeInfoText {
  font-weight: 300;
}

.aboutMeCoverBotttom {
  display: flex;
}

.adsEditProfile {
  outline: 0;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  font-size: 13px;
  height: 30px;
  background-color: rgb(134, 77, 134);
  color: black;
  padding: 0 10px;
  margin-top: 10px;
  cursor: pointer;
  max-width: 100px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.adsEditProfile:hover {
  background-color: rgb(96, 72, 96);
}

@media (max-width: 770px) {
  .ads {
    display: none;
  }
}
