.iconLeft {
  display: flex;
  padding: 9px;
  align-items: center;
  font-weight: 400;
  border-radius: 9px;
}

.iconLeftText {
  margin-left: 9px;
  margin-right: 4px;
}
.iconLeftName {
  font-weight: 800;
}

.iconLeft:hover {
  background-color: rgb(134, 77, 134);

  color: black;
}

@media (max-width: 980px) {
  .iconLeft {
    display: block;
  }
  .iconLeftText {
    display: none;
  }

  .iconLeftName {
    display: none;
  }
  .iconLeft:hover {
    display: block;
    background-color: rgb(134, 77, 134);
  }
}
