.addSomething {
  width: 95%;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 20px;
  box-shadow: rgba(174, 188, 194, 0.12) 0px 2px 4px 0px,
    rgba(183, 195, 200, 0.32) 0px 2px 16px 0px;
}

.addSomethingContainer {
  padding: 19px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.addSomethingUp {
  display: flex;
  align-items: center;
}

.addSomethingImg {
  width: 60px;
  height: 60px;
  border-radius: 48%;
  margin-right: 8px;
  object-fit: cover;
}

.addSomethingInput {
  border: none;
  color: white;
  background-color: black;
  font-size: 17px;
  width: 75%;
}

.addSomethingInput:focus {
  outline: none;
}

.addSomethingHr {
  margin: 18px;
}

.addSomethingDown {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addSomethingChoices {
  display: flex;
  align-items: center;
  margin-left: 18px;
  width: 70%;
}
.addSomethingChoice {
  display: flex;
  align-items: center;
  margin-right: 18px;
}
.addSomethingIcon {
  font-size: 25px;
  margin-right: 8px;
}

.addSomethingText {
  font-size: 15px;
  font-weight: 500;
}

.addSomething1 {
  color: rgb(134, 77, 134);
}

.addSomething2 {
  color: rgb(134, 77, 134);
}

.addSomething3 {
  color: rgb(134, 77, 134);
}

.addSomethingButton {
  width: 90px;
  padding: 2px;
  cursor: pointer;
  border-radius: 7px;
  background-color: rgb(134, 77, 134);
  font-weight: 600;
  font-size: 13px;
  background-color: rgb(134, 77, 134);
  outline: 0;
  height: 25px;
  color: black;
  border: none;
}

.addSomethingButton:hover {
  background-color: rgb(96, 72, 96);
}

/* display: inline-block;
outline: 0;
border: none;
cursor: pointer;
width: 80px;
font-weight: 600;
border-radius: 8px;
font-size: 13px;
height: 20px;
background-color: rgb(134, 77, 134);
color: black;
padding: 0 10px;
} */

.addSomethingBottom {
  justify-content: space-around;
  display: flex;
}

.shareImgContainer {
  padding: 0 20px 10px 20px;
  position: relative;
}

.shareImg {
  width: 100%;
  object-fit: contain;
}
.shareCancelImg {
  position: absolute;
  top: 0;
  right: 20px;
  color: black;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 50px !important;
}

.addSomethingEmojiDiv {
  display: flex;
  flex-direction: column;
}

.addSomethingEmoji {
  margin-top: 20px;
}
.addSomethingButtonContainer {
  display: inline-block;
  margin-right: 25px;
}

@media (max-width: 368px) {
  .addSomething {
    width: 85%;
  }
  .addSomethingBottom {
    justify-content: center;
  }
  .addSomethingChoice {
    margin: 5px;
  }
}
